<footer class="footer">
	<div class="footer-inner">
		<p>CSSSustentável é uma tradução de <a href="http://github.com/adamsilver/maintainablecss.com/">MaintainableCSS</a>, criado originalmente por <a href="http://adamsilver.io">Adam Silver</a>. Traduzido por <a href="http://github.com/ayrtonvwf">Ayrton Fidélis</a>, <a href="http://github.com/gabsleep">Gabriel Bastos</a> e <a href="http://github.com/talitapagani">Talita Pagani</a>. Contribua com o projeto no <a href="http://github.com/csssustentavel/csssustentavel.com.br">Github</a>.</p>
	</div>
</footer>